# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# macOS system files
.DS_Store
._*

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
.env
.venv
env/
venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 